language: php

php:
   - 5.4
   - 5.5
   - 5.6
   - hhvm

matrix:
    allow_failures:
        - php: hhvm

before_script:
    - git clone -q https://github.com/phalcon/cphalcon.git
    - (cd cphalcon/build/32bits; export CFLAGS="-g3 -O1 -fno-delete-null-pointer-checks"; phpize && ./configure --enable-phalcon && make -j2 && sudo make install && phpenv config-add ../../tests/phalcon.ini)
    - travis_retry composer self-update
    - travis_retry composer install --no-interaction --prefer-source --dev

script:
    - mkdir -p build/logs
    - phpunit --coverage-clover build/logs/clover.xml
after_script:
    - php vendor/bin/coveralls -v
