language: php

php:
   - 5.4
   - 5.5
   - 5.6
   - hhvm

matrix:
    allow_failures:
        - php: hhvm

before_script:
    - travis_retry composer self-update
    - travis_retry composer install --no-interaction --prefer-source --dev
    - git clone -q https://github.com/phalcon/cphalcon.git
    - (cd cphalcon/build; sudo ./install && phpenv config-add ../../tests/phalcon.ini)
script:
    - mkdir -p build/logs
    - phpunit --coverage-clover build/logs/clover.xml
after_script:
    - php vendor/bin/coveralls -v
